{% load i18n %}
<div style="color: black">
{% if projects %}
<!--<h3>Projects</h3>-->
	{% for project in projects %}
		<span class="block choice">{{project.project_name}}</span>
	{% endfor %}
{% elif tasks %}
	{% for task in tasks %}
		<span class="block choice">{{task.task_name}}</span>
	{% endfor %}
{% else %}
{% trans "No projects or tasks found matching your query" %}
{% endif %}
</div>