{% load compress %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Uakami - {% trans "What are you doing?" %}</title>
		<meta name="description" content="Uakami management tasks and projects" />
		<meta name="keywords" content="workingon, task, project, uakami, everhour, asana" />
		<meta name="author" content="Luis Boscan" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/main.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/fonts/font-awesome-4.2.0/css/font-awesome.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/menu_topside.css" %}" />					
		{% block extrahead %}	
		{% endblock extrahead %}
		{% endcompress %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		{% block autocomplete %}
		{% endblock autocomplete %}		
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="wrud-container">
			<div class="menu-wrap">
				<nav class="menu-top">
					<div class="profile"><a href="www.uakami.com" target="_blank"><img src="{% static "workingon/img/minilogo.png" %}" alt="Uakami"/></a><span>{{ user }}</span></div>
					<div class="icon-list">
						<a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i></a>
						<a href="{% url 'user-posts' request.user %}"><i class="fa fa-fw fa-history"></i></a>	
						<a href="{% url 'all-posts' %}"><i class="fa fa-fw fa-users"></i></a>
						<a href="{% url 'standups' %}"><i class="fa fa-list-alt"></i></a>
						<a href="#"><i class="fa fa-fw fa-cogs"></i></a>
						<a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i></a>
					</div>
				</nav>
				<nav class="menu-side">
					<a href="{% url 'index' %}">Home</a>
					<a href="{% url 'user-posts' request.user %}">Record</a>
					<a href="{% url 'all-posts' %}">Record of all users</a>
					<a href="{% url 'standups' %}">Stand ups List</a>
				</nav>
			</div>
			<button class="menu-button" id="open-button">Open Menu</button>
			<div class="content-wrap">
				<div class="content">
					<header class="wrud-header">
						<h2>{{ title }}</h2> <!-- Title -->
					</header>
					<!--Content-->
					
					{% block content %}
							
					{% endblock content %}
					
				</div>
			</div><!-- /content-wrap -->
		</div><!-- /container -->			
		{% compress js %}		
		<script src="{% static "workingon/js/classie.js" %}"></script>
		<script src="{% static "workingon/js/main.js" %}"></script>		
		<script src="{% static "workingon/js/aux-functions.js" %}"></script>
        <script src="{% static "workingon/js/validation.js" %}"></script>        
		{% block scripts %}			
		{% endblock scripts %}
		{% endcompress %}
	<script src="//d1ks1friyst4m3.cloudfront.net/toolbar/prod/td.js" async data-trackduck-id="566747bfcfd34a0d79af9246"></script>
	</body>
</html>