{% extends "workingon/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block extrahead %}    
	<link rel="stylesheet" type="text/css" href="{% static "workingon/css/remodal.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "workingon/css/remodal-default-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "workingon/css/editable-input.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "workingon/css/styles.css" %}">
{% endblock extrahead %}

{% block autocomplete %}		
    {% include 'autocomplete_light/static.html' %}    
    <script type="text/javascript" >
        $(document).ready(function() {
            $('#autocomplete').val('');
            $('#autocomplete').yourlabsAutocomplete({
                url: '{% url 'autocomplete' %}'
            }).input.bind('selectChoice', function(e, choice, autocomplete) {                
                if($('#autocomplete').val()[0] == "@" && $('#autocomplete').val().indexOf(" ") > -1) {
                    var project = $('#autocomplete').val().substring(0, $('#autocomplete').val().indexOf(" "));                    
                    $('#autocomplete').val(project + " " + choice['0']['innerHTML']);                    
                } else {
                    $('#autocomplete').val(choice['0']['innerHTML']);
                }   
            });           
        });
    </script>
{% endblock autocomplete %}

{% block content %}
	{% trans "Write whatever you're doing" as place_holder %}
	{% trans "Write your standup" as standup_holder %}
	<section class="wrud-content">
		<div class="wrud-home">
			<div id="post-input">
				<br>
				<form action="{% url 'index' %}" method="POST">
					{% csrf_token %}
					<input type="text" name="new-post" required="true" id="autocomplete" placeholder="{% blocktrans %}{{place_holder}}{% endblocktrans %}" aria-describedby="sizing-addon1">            
				</form>
				<br>
			</div>			
			
			<div id="standup-section" style="display: none;">
				<br>				
				<form id="standup-form" method="POST">
					{% csrf_token %}
					<label for="standup_today"></label>
					{{ standup_form.today }}
				</form>
				<br>
			</div>			

			<input type="checkbox" name="standup" value="Standup"/> Stand up
			
			<div id="post">
				{% if last_post %}
	            {% for post in last_post %}                
	                <h1>{{ post }}</h1>
	            {% endfor %}
	        	{% else %} 
	            	<h1>{% trans "You have not published any post" %}</h1>
	        	{% endif %}			

	        	{% if is_last %}
		        	<button type="button" disabled="true" id="play"><i class="fa fa-play"></i></button>
					<button type="button" id="stop"><i class="fa fa-pause"></i></button>
	        	{% else %}
		        	<button type="button" disabled="true" id="play"><i class="fa fa-play"></i></button>
					<button type="button" disabled="true" id="stop"><i class="fa fa-pause"></i></button>
	        	{% endif %}
	        </div>

	        <div id="standup" style="display: none;">	        	
        		<table>
        			<tr>
        				<td><strong>Ayer:</strong></td>
        				<td>
        				{% if last_standup %}
        					{{last_standup}}
        				{% else %}
        				Vacío
        				{% endif %}
        				</td>
        			</tr>
        			<tr>
        				<td><strong>Hoy:</strong></td>
        				<td id="today">					        
        				{% if current_standup %}
        					<div class="editable">
					            <input type="text" class="editable-box" placeholder="{{current_standup}}" disabled required="true"/>
					            <div class="fake-layer"></div>					            
					            <a class="cancel-button"><i class="fa fa-ban"></i></a>
					            <a class="check-button"><i class="fa fa-check"></i></a>
					        </div>
        				{% else %}        				
        					<div class="editable">
					            <input type="text" class="editable-box" placeholder="Empty" disabled required="true"/>
					            <div class="fake-layer"></div>
					            <a class="cancel-button"><i class="fa fa-ban"></i></a>
					            <a class="check-button"><i class="fa fa-check"></i></a>
					        </div>  
        				{% endif %}
        				</td>
        			</tr>
        			<tr>
        				<td><strong>Detalles:</strong></td>
        				<td id="details">
        				{% if current_standup.details %}
        					<div class="editable">
					            <input type="text" class="editable-box" placeholder="{{current_standup.details}}" disabled />
					            <div class="fake-layer-details"></div>
					            <a class="cancel-button"><i class="fa fa-ban"></i></a>
					            <a class="check-button"><i class="fa fa-check"></i></a>
					        </div>    
					    {% else %}  
					    	<div class="editable">
					            <input type="text" class="editable-box" placeholder="Empty" disabled />
					            <div class="fake-layer"></div>
					            <a class="cancel-button"><i class="fa fa-ban"></i></a>
					            <a class="check-button"><i class="fa fa-check"></i></a>
					        </div>      
        				{% endif %}
        				</td>
        			</tr>
        		</table>	        	
	        </div>
				
			<br>
			<br>
			<br>

			{% if not api_key or not token %}

			<div class="alert-warning">
				<a href="#" class="close" data-dismiss="alert" style="position: relative;">&times;</a>
				<span class="fa fa-warning"></span>&nbsp;
				<span id="warning-key" data-toggle="modal" data-target="#everhour-modal">{% trans "You have not synchronized with Everhour & Asana" %}<br><a href="#modal">{% trans "Click here to add your access keys" %}</a></span>&nbsp;&nbsp;				
			</div>
			
			{% endif %}
			
			<!-- Modal -->
			<form class="remodal" data-remodal-id="modal" role="form" aria-labelledby="modal1Title" aria-describedby="modal1Desc" id="api-key-form" method="POST">{% csrf_token %}
			  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
			  <div>
			    <h2 id="modal1Title">{% trans "Synchronize with Everhour & Asana" %}</h2>
			    <div id="modal1Desc">
			    	<label for="api_key">{% trans "You need your Everhour API Key to authorize." %}<br>
                	{% trans "You can find it by visiting your " %}<a class="link" href="https://everhour.com/profile/" target="_blank">{% trans "profile settings" %}</a></label>
                	<hr>
                	{{ form.text_everhour }}
                	<br><br>
                	<label for="api_key">{% trans "You need to create an access token in Asana." %}<br>
                	{% trans "You can find it by visiting" %}:<br>
                	<a href="http://asana.com" class="link" target="_blank"><span>{% trans "My Profile Settings -> APPS -> + Create New Personal Access Token" %}</span></a></label>
                	<br><br>
                	{{ form.text_asana }}
                
                	<div id="invalid-key" style="display: none;">
	                	<br>
	                  	<label class="alert-danger">{% trans "Invalid Data!" %}</label>                      
                	</div>

                	<div id="valid-key" style="display: none;">                      
	                	<br>
	                    <label class="alert-success">{% trans "Data Synchronized!" %}</label>                      
  	              	</div>

	                <div id="wait" style="display: none;"></div>
	              	</div>
			    </div>			  
			  <br>
			  <button data-remodal-action="cancel" class="remodal-cancel">{% trans "Close" %}</button>			  
			  <input type="submit" class="remodal-confirm" value="{% trans "Send" %}"/>
			</form>
		</div>
	</section>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "workingon/js/autocomplete.js" %}"></script>
    <script src="{% static "workingon/js/playstop.js" %}"></script>
    <script src="{% static "workingon/js/remodal.js" %}"></script>
    <script src="{% static "workingon/js/standup.js" %}"></script>
    <script src="{% static "workingon/js/editable-input.js" %}"></script>  
    <script>
		/* $('.content').scroll(function() {
			var docViewTop = $(window).scrollTop();
		    var docViewBottom = docViewTop + $(window).height();

		    var elemTop = $(".wrud-header").offset().top;
		    var elemBottom = elemTop + $(".wrud-header").height();

			if ((elemBottom >= docViewTop) && (elemTop <= docViewBottom)) {				
			    console.log("true")
			} else {	
				console.log("false")
			}
		});*/		
	</script>
{% endblock scripts %}
