{% load compress %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>{% trans "Sign in - What are you doing?" %}</title>
		<meta name="description" content="Uakami management tasks and projects" />
		<meta name="keywords" content="workingon, task, project, uakami, everhour, asana" />
		<meta name="author" content="Luis Boscan" />		
		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/main.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/fonts/font-awesome-4.2.0/css/font-awesome.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/menu_topside.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "workingon/css/login.css" %}">
		{% endcompress %}
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="wrud-container">
			<div class="content-wrap">
				<div class="content">
					<!--Content-->			
					<section class="wrud-content">
						<h1>{% trans "Hey!" %}</h1>
				    	<h2>{% trans "What are you doing?" %}</h2>	
						<div class="wrud-login">							
				    		<br>
				      		<a href="http://www.uakami.com" target="_blank"><img src="{% static "workingon/img/uakamitext.png" %}" alt="Uakami"></a>
				            <hr>
				            <a class="login-btn" href="/accounts/google/login">{% trans "Sign in with Google" %}</a>
				            <hr>				            
						</div>						
					</section>								            	
				</div>
			</div><!-- /content-wrap -->
		</div><!-- /container -->		
		{% compress js %}		
		<script src="{% static "workingon/js/classie.js" %}"></script>
		<script src="{% static "workingon/js/aux-functions.js" %}"></script>
		{% endcompress %}
	</body>
</html>