{% extends "workingon/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load endless %}

{% block extrahead %}  
<link rel="stylesheet" type="text/css" href="{% static "workingon/css/timeline.css" %}">
{% endblock %}
{% block content %}
	{% if latest_posts %}
	<section id="cd-timeline" class="wrud-content cd-container">
		{% paginate latest_posts %}
		{% for post in latest_posts %}
		    <div class="cd-timeline-block">
		        <div class="cd-timeline-img cd-post">
		            <img src="{% static "workingon/img/post.svg" %}" alt="Post">
		        </div> <!-- cd-timeline-img -->
		        <div class="cd-timeline-content">            
		            <h2>{{post}}</h2>
		            <p>{{post.date | date:"D" }} {{post.date | time:"h:i a" }} - {{current_user.email}}</p>            
		            <span class="cd-date">{{post.date | date:"M j"}}</span>
		        </div> <!-- cd-timeline-content -->
		    </div> <!-- cd-timeline-block -->   
		{% endfor %}
		{% show_more trans "Show More" %}
		{% else %} 
		    <h3>{% trans "Nothing published" %}</h3>
		{% endif %}
	</section>
{% endblock %}
{% block scripts %}
    {{ block.super }}							
		<script src="{% static "workingon/js/timeline.js" %}"></script>
        <script src="{% static "workingon/js/endless-pagination.js" %}"></script>
        <script>
        $.endlessPaginate();
{% endblock %}