{% extends "workingon/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "workingon/css/responsable-table.css" %}">
{% endblock %}

{% block content %}
{% if latest_posts_all_users %}
    <section class="wrud-content">
        <table class="responstable">
        <thead>
            <tr>
                <th class="active" style="text-align: center;">{% trans "User" %}</th>
                <th class="active" style="text-align: center;">{% trans "Date" %}</th>
                <th class="active" style="text-align: center;">{% trans "Time" %}</th>
                <th class="active" style="text-align: center;">{% trans "Post" %}</th>
            </tr>
        </thead>
        <tbody>                                  
        {% for post in latest_posts_all_users %}
            <tr class="success">                
                <td><a href="{% url 'user-posts' post.user %}" class="user-link"><strong>{{post.user}}</strong></a></td>
                <td>{{post.date | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{post.date | time:"H:i"}}</td>
                <td>{{post}}</td>
            </tr>                                            
        {% endfor %}
        </tbody>
        </table>                    
    </section>
{% else %}
    <h3>{% trans "No Record" %}</h3>
{% endif %}
{% endblock content %}