{% extends "workingon/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "workingon/css/responsable-table.css" %}">
<link rel="stylesheet" href="{% static "workingon/css/table-filter.css" %}">
<link rel="stylesheet" href="{% static "workingon/css/tooltip.css" %}">
{% endblock %}

{% block content %}
{% if table %}
    <section class="wrud-content">                
        <form action="{% url 'standups' %}" id="week_picker" method="GET">
            {% csrf_token %}
            {{form.non_field_errors}}
            <label for="{{form.start_date.id_for_label}}">Start Date:</label>
            {{form.start_date}}
            <label for="{{form.end_date.id_for_label}}">Final Date:</label>
            {{form.end_date}}
            <input type="submit" class="btn-filter" value="Filter Date">
        </form>

        <table id="standups-list" class="responstable">
        <thead>
            <tr>
                <th>Users</th>
                {% for week_day in week_days %}
                    <th class="active" style="text-align: center;">{{week_day | date:"SHORT_DATE_FORMAT"}}</th>
                {% endfor %}                
            </tr>
        </thead>       
        <tbody>                                  
        {% for row in table %}
            <tr>
            {% for col in row %}
                {% if col %}
                    <td class="tooltip">
                        {{col}}
                        {% if col.details %}
                            <span>
                                <strong>Detalles</strong><br>
                                <img class="callout" src="{% static "workingon/img/callout.gif" %}" />
                                {{col.details}}
                            </span>
                        {% endif %}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>                    
    </section>
{% else %}
    <center><h3>{% trans "No stand ups today" %}</h3></center>
{% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{% static "workingon/js/table-filter.js" %}"></script>
{% endblock scripts %}