.wrud-login {
	padding: 15px;
	margin: 0 auto;
	max-width: 400px;	
	background-color: #00383e;
	border-radius: 8px;
}

.wrud-content h1 {
	color: #00383E;
}

.wrud-content h2 {
	color: #00383E;
}

.wrud-login .header {
	background-color: #167F92;
	padding: 5px;
	margin: -8px;
}


.wrud-content > * {
	color: #F9F9F9;
}

.wrud-content h1 {
	font-size: 50px;
	font-weight: bold;
}

.wrud-content h2 {
	font-size: 30px;
}

.wrud-login img {
	/*width: 9%;*/
	opacity: 1 ! important;
	border-radius: 0 ! important;
}

.wrud-login .login-btn {
	color: #F9F9F9;	
	padding-top: 6px;
	width: 100%;
	display: block;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
	color: #F9F9F9;
	font-weight: 900;
	background-color: #167f92;
	border-color: #c7d4d6;
	border: 3px solid;
}