/* @import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700,800); */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f9f9f9;
	color: #00383e;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Open Sans','Droid Sans', sans-serif;
}

a {
	color: #4e4a46;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #ffb031;
	outline: none;
}

button:focus {
	outline: none;
}

section {
	padding: 1em;
	text-align: center;
}

/* Header */
.wrud-header {
	margin: 0 auto;
	padding: 3em 2em;
	text-align: center;
	background-color: #00383e;
}

.wrud-header h1 {
	margin: 0 auto;
	font-weight: 800;
	font-size: 3.75em;
	line-height: 1;
}

.wrud-header h2 {
	font-size: 2em;
	font-family: 'Droid Sans';	
	color: #f9f9f9;
}

.wrud-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
}

/* Content */
.wrud-content {
	margin-top: 5em;
	padding: 0 3em 5em;	
}

.wrud-content p {
	font-size: 1.5em;
	font-weight: 700;
}

.wrud-content > a {
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	border-radius: 35px/200px;
	background: #fffce1;
	max-width: 100%;
}

.wrud-content a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 20px/100px;
}

.wrud-content a:hover img,
.wrud-content a:active img {
	opacity: 1;
}

.wrud-content a h3 {
	margin: 0;
	padding: 0.5em 0.75em 0.3em;
	max-width: 300px;
	text-align: left;
}

/* Home */

input[type=text] {
	width: 80%;
	height: 45px;
	border-radius: 6px;
	border-top: 2px solid #ccc;
  	border-left: 2px solid #ccc;
  	border-right: 2px solid #eee;
  	border-bottom: 2px solid #eee;
}

.wrud-home button {
	font-size: 20px;
	width: 50px;
	height: 50px;
	color: #fff;
}

.wrud-home #play {	
	border: none;
	border-radius: 50px;		
    background: rgba(0, 153, 0, 0.9);
}

.wrud-home #play:hover {
	background: rgba(0, 153, 0, 0.6);
	color: #eee;
}


.wrud-home #play:disabled, .wrud-home #play:disabled:hover {
	background: rgba(0, 153, 0, 0.4) ! important;
	cursor: default ! important;
}

.wrud-home #stop:disabled, .wrud-home #stop:disabled:hover {
	background: rgba(153, 0, 0, 0.4) ! important;
	cursor: default ! important;
}

.wrud-home #stop {
	border: none;
	border-radius: 50px;
	background: rgba(153, 0, 0, 0.9);
}

.wrud-home #stop:hover {
	background: rgba(153, 0, 0, 0.6);
	color: #eee;
}

.wrud-home .alert-warning {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 20px 15px 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #9F6000;
	background-color: #FEEFB3;
	width: 40%;	
	margin: 0 auto;
}

.wrud-home .alert-warning #warning-key {
	cursor: pointer;
}

.wrud-home .alert-warning a:hover,
.wrud-home .alert-warning a:focus {
	color: #7d4000;
}

@media screen and (max-width: 50em) { /* 800px */
	body {
		font-size: 80%;
	}
	.wrud-header h1 {
		font-size: 2.5em;
	}
	.wrud-content > a {
		margin: 20px 0;
	}

	.wrud-home .alert-warning {	
		width: 40%;
	}
}

@media screen and (max-width: 40em) { /* 640px */
	body {
		font-size: 80%;
	}
	.wrud-header h1 {
		font-size: 2.5em;
	}
	.wrud-content > a {
		margin: 20px 0;
	}

	.wrud-home .alert-warning {	
		width: 90%;
	}
}

@media screen and (max-width: 25em) { /* 400px */
	.wrud-home .alert-warning {	
		width: 90%;	
		font-size: 60%;
	}
}

@media screen and (max-width: 20em) { /* 320px */
	.wrud-home .alert-warning {	
		width: 100%;	
		font-size: 80%;
	}
}