#wait {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

.link {
    color: #167f92;
    font-weight: 800;
}

.alert-danger {
    color: #9C2727;
    font-weight: 900;
}

.alert-success {
    color: #4FE456;
    font-weight: 900;
}

button {
    cursor: pointer ! important;
}

#standup {
    padding-left: 80px;
}

table {
    width: 60%;    
    margin: auto;
    margin-top: 30px;	
}

td {
	padding: 10px;
}