.editable {
    /*margin: 120px auto;*/
    text-align: center;
    position: relative; 
}

.editable .cancel-button,
.editable .check-button {
    display: none;
    border-radius: 5px;
    border: 1px solid;
    opacity: 0.8;
    cursor: pointer;    
}

.editable i {
    padding: 5px;
}

.editable .cancel-button:hover,
.editable .check-button:hover {
    opacity: 1;
    color: #00383E; 
}

.editable .cancel-button {
    background-color: #D39595;
}

.editable .check-button {
    background-color: #95D395;
}

.editable input[type="text"] {
    color: #00383E;
    background-color: #F9F9F9;    
    cursor: pointer;
    border: 0;
    height: 30px;
}

.editable-box::-webkit-input-placeholder {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.editable-box:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.editable-box::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.editable-box:-ms-input-placeholder {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.fake-layer, .fake-layer-details {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    width: 100% ! important;
}