th {
    cursor: pointer;
}

#standups-list_filter {
    color: #00383E;
    font-weight: 700;
    font-size: 1em;
    padding: 20px;
}

.date-inputs label, #week_picker label {
    color: #00383E;
    font-weight: 700;
}

input[type="text"],
input[type="search"] {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 120px;
    border-radius: 2px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #CCC #EEE #EEE #CCC;
}

input[type="search"] {
    width: 150px;
}

.btn-filter {
    background-color: #00383E;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    opacity: 1;
}

.btn-filter:disabled {
    opacity: 0.6;
}

.btn-filter:active,
.btn-filter:hover,
.btn-filter:focus {
    color: #CEDEDE;
}
