.tooltip {
    outline: none;
}

.tooltip strong {
    line-height: 30px;
}

.tooltip span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -50px;
    margin-left: 28px;
    width: 250px;
    line-height: 16px;
    font-size: 14px;
}

.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

.tooltip span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}
